/*Index^*/

.index-body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url(../img/Layer.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  width: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  margin-bottom: 75px;
  color: transparent;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: transparent;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;

  background-color: #000000;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation,
.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
}

.site-navigation a,
.user-navigation a {
  display: block;
  color: #ffffff;
  padding: 25px 20px;
}

.user-navigation {
  display: flex;
  max-width: 140px;
}

.user-navigation .login-link {
  position: relative;
  padding-left: 50px;
}

.login-link::before {
  content: "";

  position: absolute;
  top: 27px;
  left: 24px;

  width: 16px;
  height: 18px;

  display: block;

  background-image: url(../img/login.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
  opacity: 1;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;

  transition: all 0.3s ease;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;

  transition: all 0.3s ease;
}

.site-navigation {
  width: 620px;
  margin: 0;
  padding: 0;
}

.user-navigation {
  width: 140px;
  margin: 0;
  padding: 0;
}

.main-header-logo {
  width: 368px;
  height: 153px;
}

.button {
  display: inline-block;
  margin-right: 20px;
  padding: 10px 30px;
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}

.features {
  margin-bottom: 80px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item {
  display: block;
  width: 300px;

  text-align: center;
}

.feature-item h3 {
  position: relative;

  margin: 0;
  margin-bottom: 60px;

  font-size: 30px;
  line-height: 42px;
}

.feature-item h3:after {
  content: "";

  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -10px;

  width: 20px;
  height: 20px;

  background-color: #ffffff;

  transform: rotate(45deg);
}

.feature-item p {
  margin: 0 10px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  color: #000000;
  padding: 50px 80px;
  margin-bottom: 35px;

  background-color: #f7f4f1;
  background-image: url("../img/pattern-light.jpg");
  background-image: url(../img/line.png);
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.index-columns h2 {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 42px;
}

.news {
  width: 380px;
}

.news-list {
  list-style: none;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.news-item {
  margin-bottom: 25px;
}

.news-item p {
  margin: 0;
}

.news-list time {
  text-transform: none;
}

.gallery {
  width: 300px;
}

.gallery-container {
  position: relative;

  height: 260px;
}

.gallery-button {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;

  width: 140px;
  margin: 0;
}

.gallery-button-back {
  left: 0;
}

.gallery-button-next {
  right: 0;
}

.gallery-content {
  height: 164px;
  width: 286px;
  margin: 0;

  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-content img {
  height: 164px;
  width: 286px;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;

  transition: all 0.3s ease;

  cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;

  transition: all 0.3s ease;
}

.contacts {
  width: 380px;
}

.contacts p {
  margin: 0;
  margin-bottom: 25px;
}

.appointment {
  width: 300px;
}

.appointment-info {
  margin: 0;
  margin-bottom: 15px;
}

.appointment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.appointment-item {
  width: 140px;
  margin: 0;
  margin-bottom: 10px;
}

.appointment-item label {
  display: block;
  margin-bottom: 9px;
  margin-left: 15px;
}

.appointment-item input {
  box-sizing: border-box;
  width: 140px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;

  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.appointment-item input:focus {
  border-color: #663d15;
}

.appointment .button {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-right: 0;
}

.main-footer {
  position: relative;

  padding: 60px 0;
  margin-top: 60px;
  color: #ffffff;

  background-color: #232323;
  background-image: url(../img/pattern-dark.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

.inner-footer::after {
  content: "";

  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  background-image: url(../img/Layer\ 37.png);
  background-repeat: repeat-x;
}

.main-footer .container {
  display: flex;
}

.footer-contacts {
  width: 320px;
  margin: 0;
}

.footer-contacts a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  margin-left: 80px;
  width: 145px;
  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 141px;
  list-style: none;
}

.footer-social b {
  display: block;
  margin-bottom: 15px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;

  background-color: #000000;

  transition: all 0.3s ease;
}

.social-button:hover,
.social-button:focus {
  background-color: #ffffff;

  transition: all 0.3s ease;
}

.social-button:hover img,
.social-button:focus img {
  filter: invert(100%) sepia(95%) saturate(3%) hue-rotate(345deg) brightness(89%) contrast(100%);

  transition: all 0.3s ease;
}

.footer-copyright {
  width: 150px;
  margin: 0;
  text-align: center;
  margin-left: auto;
}

.footer-copyright .button {
  display: block;
  margin-right: 0;

  transition: all 0.3s ease;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;

  background-color: #ffffff;

  transition: all 0.3s ease;
}

.footer-copyright b {
  display: block;
  margin-bottom: 15px;
}

.modal {
  position: fixed;
  display: none;

  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.7);
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.js_modal-show {
  display: block;

  animation-name: bounce;
  animation-duration: 0.6s;
}

@keyframes shake {

  0%,
  100% {
    transform: translateY(0px);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translatex(10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translatex(-10px);
  }
}

.js_modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}

.modal-login {
  top: 120px;
  left: 50%;

  box-sizing: border-box;

  width: 460px;
  height: 385px;
  padding: 50px 80px;
  margin-left: -230px;

  background-color: #ffffff;
  background-image: url(../img/pattern-light.jpg);
  background-position: 0 0;
  background-repeat: repeat;
  color: #000000;
}

.modal-login h2 {
  font-size: 30px;
  margin: 0;
  margin-bottom: 30px;
}

.modal-login_text {
  margin: 0;
  margin-bottom: 15px;
  line-height: 14px;
}

.login-icon-password,
.login-icon-user {
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  padding: 0 15px;

  font: inherit;
  color: #000000;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form p input::placeholder,
.login-password-info input::placeholder {
  color: gray;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.login-form p:nth-child(1)::after,
.login-form p:nth-child(2)::after {
  content: "";

  position: absolute;
  right: 15px;
  top: 15px;

  width: 15px;
  height: 15px;
  display: block;
  position: absolute;

  background-position: 0 0;
  background-repeat: no-repeat;
}

.login-form p:nth-child(1)::after {
  background-image: url(../img/user.svg);
}

.login-form p:nth-child(2)::after {
  background-image: url(../img/lock.svg);
}

.login-form p:nth-child(1) {
  position: relative;

  margin: 0;
  margin-bottom: 8px;
}

.login-form p:nth-child(2) {
  position: relative;

  margin: 0;
  margin-bottom: 20px;
}

.login-icon-user::-moz-placeholder,
.login-icon-password::-moz-placeholder {
  color: black;
  text-transform: uppercase;
}

.login-icon-user::-webkit-input-placeholder,
.login-icon-password::-webkit-input-placeholder {
  color: black;
  text-transform: uppercase;
}

.login-icon-user::-ms-input-placeholder,
.login-icon-password::-ms-input-placeholder {
  color: black;
  text-transform: uppercase;
}

.login-password-info {
  position: relative;

  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-left: 30px;

  line-height: 14px;
}

.login-checkbox {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.login-password-info a {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.checkbox-indicator {
  position: absolute;
  box-sizing: border-box;
  content: "";
  left: -30px;
  top: -4px;

  width: 20px;
  height: 20px;

  border: 2px solid #000000;
  background-color: #f9f6f3;
}

.checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 7px;

  width: 2px;
  height: 12px;

  background-color: #000000;
  transform: rotate(45deg);
  display: none;
}

.checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 7px;

  width: 2px;
  height: 12px;

  background-color: #000000;
  transform: rotate(-45deg);
  display: none;
}

.login-checkbox input:checked~.checkbox-indicator::before,
.login-checkbox input:checked~.checkbox-indicator::after {
  display: block;
}

.login-checkbox input:disabled~.checkbox-indicator::before,
.login-checkbox input:disabled~.checkbox-indicator::after {
  background-color: #acaba9;
}

.login-checkbox input:disabled~.checkbox-indicator {
  border: 2px solid #acaba9;
}

.restore {
  color: #000000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}

.login-form button {
  width: 100%;
}

.modal-close {
  position: absolute;
  top: 11px;
  right: -33px;

  width: 21px;
  height: 21px;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 9px;

  width: 4px;
  height: 21px;
  padding: 0;

  background-color: #c0c0c0;
  border: 0;
}

.modal-close::before {
  transform: rotate(-45deg);
}

.modal-close::after {
  transform: rotate(45deg);
}

.modal-map p {
  margin: 0;
  padding: 0;
}

.modal-map {
  position: fixed;
  top: 50%;
  left: 50%;

  margin-top: -290px;
  margin-left: -390px;

  width: 780px;
  height: 580px;
  box-sizing: border-box;
}

.modal-map img {
  position: absolute;

  border: 7px solid #ffffff;
}

.modal-map .modal-close {
  right: -47px;
}

/*CATALOG*/

.inner-page {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  background-image: url(../img/pattern-light.jpg);
  background-position: top center;
  background-repeat: repeat;
}

.inner-page .main-header {
  margin-bottom: 50px;

  background-color: #000000;
}

.inner-page .main-header-logo {
  order: 0;

  width: 111px;
  height: 24px;
  padding: 23px 20px;
}

.inner-page .main-navigation {
  align-items: flex-start;
  flex-direction: row;
}

.site-navigation .current {
  position: relative;
}

.site-navigation .current::after {
  content: " ";
  position: absolute;

  bottom: -25px;
  left: 0;

  width: 100%;
  height: 5px;
  background-color: #ffffff;
}

.inner-page .user-navigation {
  margin-left: auto;
}

.page-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.container .page-title {
  font-size: 30;
  line-height: 42px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.breadcrumbs li {
  position: relative;

  margin-right: 42px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  right: -25px;
  top: 7px;

  box-sizing: border-box;
  width: 8px;
  height: 8px;

  background-color: #000000;
  transform: rotate(45deg);
}

.breadcrumbs li:last-child {
  margin-right: 0px;
}

.breadcrumbs .breadcrumbs-current::after {
  display: none;
}

.container .breadcrumbs a:hover,
.container .breadcrumbs a:focus {
  text-decoration: underline;
  color: #000000;
}

.filters {
  width: 180px;
}

.filters fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;

  border: none;
}

.filters legend {
  margin-bottom: 26px;

  font-size: 24px;
  line-height: 30px;
}

.filters ul {
  padding: 0;
  margin: 0;

  list-style: none;
  line-height: 18px;
}

.inner-page-filter label:hover,
.inner-page-filter label:focus {
  text-decoration: underline;
  color: #663d15;
}

.inner-page-filter input:disabled {
  color: #000000;

  opacity: 0.5;
}

.inner-page-filter input:disabled+label {
  color: #000000;

  opacity: 0.5;
  text-decoration: none;
}

.filter-option {
  margin-bottom: 22px;
  padding-left: 45px;
}

.filter-option:last-child {
  margin-bottom: 0;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -3px;

  width: 16px;
  height: 16px;

  border: 2px solid #000000;
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -38px;

  width: 12px;
  height: 12px;

  background-image: url(/app/img/cross.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -3px;

  width: 16px;
  height: 16px;

  border: 2px solid #000000;
  border-radius: 50%;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -37px;

  width: 8px;
  height: 8px;

  border: 1px solid #000000;
  border-radius: 50%;
  background-color: #000000;
}

.catalog {
  width: 700px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog-item {
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;

  list-style: none;
  background-color: #ffffff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.catalog-item:hover {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-category {
  display: block;

  font-size: 14px;
  line-height: 18px;
  text-transform: none;
}

.catalog-item-title {
  font-size: 14px;
  line-height: 18px;
}

.catalog-item-image {
  width: 220px;
  height: 165px;
  margin: 0;
}

.catalog-item .item-name {
  display: flex;
  flex-direction: column;

  color: #000000;
}

.catalog-item h3 {
  order: 1;
  margin-top: 17px;
  margin-bottom: 12px;
  margin-left: 16px;
  margin-right: 15px;
}

.catalog-item h3:hover {
  color: #663d15;
}

.catalog-item-price {
  display: flex;
  margin: 15px;
  margin-top: 0;
}

.catalog-item-price b {
  width: 112px;
  padding: 15px 0;

  font-size: 14px;
  line-height: 20px;
  text-align: center;

  background-color: #e5e5e5;
}

.catalog-item-price .button {
  width: 50px;
  padding: 13px 18px 11px;
  margin-right: 0;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style: none;
}

.pagination-item {
  margin: 0;
  margin-right: 7px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-list a {
  display: block;
  padding: 10px 19px;
}

.pagination-list a {
  display: block;
  color: #ffffff;

  background-color: #000000;
}

.pagination-list a:hover,
.pagination-list a:focus,
.pagination-list a:active {
  background-color: #663d15;
}

.pagination-item-current a {
  color: #000000;

  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;
}

.inner-page .main-footer {
  margin-top: 45px;
}

/*BARBERSHOP-ITEM*/

.bs-item {
  margin: 0;
  padding: 0;
  min-width: 1122px;
  min-height: 1150px;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  background-image: url(../img/pattern-light.jpg);
  background-position: top center;
  background-repeat: repeat;
}

.site-navigation li {
  list-style: none;
}

.bs-item .container h1 {
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  list-style: none;
  margin-bottom: 60px;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #663d15;
}

.breadcrumbs-current,
.product-article {
  color: #aba9a7;
}

.product-article {
  text-align: right;
}

.product-photos {
  width: 460px;
}

.product-photo-preview {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}

.product-photos li,
.product-photos img {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-photo-preview li {
  width: 140px;
  height: 149px;
  margin-right: 20px;
}

.product-photo-preview img {
  width: 140px;
  height: 149px;
}

.product-photo-preview li:nth-child(3n) {
  margin-right: 0;
}

.product-photo-full {
  width: 460px;
  height: 498px;
  margin: 0;
  margin-bottom: 15px;
}

.product-price b {
  width: 110px;
  padding-top: 17px;
  padding-bottom: 16px;

  line-height: 20px;
  text-align: center;
  color: #000000;

  background-color: #e5e5e5;
  box-sizing: border-box;
}

.product-price .button {
  width: 80px;
  padding: 16px 18px;

  box-sizing: border-box;
}

.product-info {
  width: 400px;
  padding-top: 23px;
}

.product-info .product-price {
  display: flex;
  margin-bottom: 63px;
}

.wrap-description {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  margin-bottom: 29px;
}

.product-info p {
  margin: 0;
}

.product-info h2 {
  font-size: 24px;
  line-height: 30px;
}

.product-info h3 {
  margin: 0;
  margin-bottom: 27px;
}

.product-info ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-info li {
  position: relative;

  padding-left: 23px;
}

.product-info li::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 2px;

  width: 8px;
  height: 8px;

  background-color: #000000;

  transform: rotate(45deg);
}

.product-info .product-text {
  margin-bottom: 38px;
}

/*BARBERSHOP-PRICE*/

.inner-page {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  background-image: url(../img/pattern-light.jpg);
  background-position: top center;
  background-repeat: repeat;
}

.inner-page .breadcrumbs {
  margin-bottom: 55px;
}

.inner-page h1 {
  font-size: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.info-about-our-service .heading-page {
  position: relative;
  display: flex;
  align-items: center;

  font-size: 48px;
  line-height: 48px;
  padding: 0;
  margin: 0;
  margin-bottom: 75px;
}

.info-about-our-service .heading-page::after,
.info-about-our-service .heading-page::before {
  content: "";

  flex-grow: 1;
  flex-shrink: 0;

  width: 50px;
  height: 2px;

  background-color: #000000;
}

.info-about-our-service .heading-page::after {
  margin-left: 25px;
}

.info-about-our-service .heading-page::before {
  margin-right: 25px;
}

.flex-about-us {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.our-mastershop {
  width: 460px;
  padding-top: 55px;
  margin-bottom: 0;
  margin: 0;
}

.inner-page h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px;
  margin-top: 0;
}

.what-we-use {
  width: 240px;
  margin-bottom: 63px;
}

.inner-page .items {
  padding: 0;
  margin: 0;
  margin-left: 23px;
}

.inner-page .items li {
  margin-bottom: 17px;
  position: relative;
}

.inner-page .items li::before {
  content: "";

  position: absolute;
  left: -20px;
  top: 8px;

  width: 8px;
  height: 8px;

  background-color: #000000;
  transform: rotate(45deg);
}

.inner-page .items li:last-child {
  margin-bottom: 0;
}

.short-about-us {
  width: 410px;
}

.inner-page .items li {
  list-style: none;
  font-size: 14px;
  line-height: 24px;
}

.left {
  padding: 16px 0 17px 19px;
  width: 230px;

  box-sizing: border-box;
}

.inner-page table {
  border-collapse: collapse;
  width: 460px;
}

.table-price {
  width: 460px;
  margin-bottom: 70px;
}

.ps-price td {
  line-height: 14px;
}

.inner-page table td {
  border: 3px solid #000000;
}

.table-price td:nth-child(2) {
  text-align: center;
}
